body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  border: 5px solid green;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
h1 {
  font-size: 50px;
}
.orange-text {
  color: orange;
}
h3 {
  font-size: 40px;
}
p {
  font-size: 25px;
}
.half-width img {
  width: 100%;
}
.last-section {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  border: 5px solid red;
}
.exprience-item {
  box-shadow: 10px 10px 30px black;
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
