body {
  font-family: "Roboto", sans-serif;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
h1 {
  font-size: 50px;
}
h1 span {
  color: orange;
}
h2 {
  font-size: 40px;
}
.half-width img {
  width: 100%;
}
h3{
  font-size: 40px;
}